{% extends 'base.html.twig' %}

{% block title %}Purchase{% endblock %}

{% block body %}
    <div class="container" id="content">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 col-12">
                <div class="">
                    <div class="card-body">
                    <h5>About</h5>
                        <p>
                            Artstudioprague specialises in affordable artworks of a larger size that are particularly
                            suitable for offices, hotels, restaurants, cafes and larger private homes.</br></br>

                            The works are very individual and the creation of the artist Martin Viktor, a somewhat reclusive
                            character that has lived and worked in a number of countries spanning from the United Kingdom to
                            Central Asia. These cultures have significantly influenced the content and style of his
                            art.</br></br>

                            Many of the works are mixed media on canvas and make use of a freestyle gilding technique - the
                            application of thin metal leaf, which imbues the painting with a dynamic reflective quality that
                            catches the ambient light, be that candlelight or sunlight and changes the appearance and mood
                            of the work.</br></br>

                            The artworks are generally of a larger size with the strength of colour and imagery having a
                            memorable impact in big spaces.</br></br>

                            Commissioned works can be undertaken with digital processes being used to outline the appearance
                            of the final work. Delivery of commissioned works is usually made within six weeks of
                            instigation. Please initially address your enquiry by email to <a
                                    href="mailto:info@artstudioprague.com">info@artstudioprague.com</a> </br></br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}