{% extends 'base.html.twig' %}

{% block title %}Purchase{% endblock %}

{% block body %}
    <div class="container" id="content">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 col-12">
                <div class="">
                    <div class="card-body">
                    <h5>Purchase</h5>
                        <p>
                            To purchase any of the works shown on this website please send an email to <a
                                    href="mailto:info@artstudioprague.com">info@artstudioprague.com</a>,
                            stating which artwork you are interested in.</br></br>

                            Delivery can be made free of charge within the Prague area and installation can be made at a
                            small additional cost.</br></br>

                            Artworks can be packed and shipped worldwide, at the purchaser's expense. The necessary
                            documentation is provided for importation.</br></br>

                            If you wish to see the artworks in Prague, please send an email and appropriate arrangements
                            for
                            a personal viewing will be made.</br></br>

                            email: <a href="mailto:info@artstudioprague.com">info@artstudioprague.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}