{% extends 'base.html.twig' %}

{% block title %}Purchase{% endblock %}

{% block body %}
    <div class="container" id="content">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 col-12">
                <div class="">
                    <div class="card-body">
                        <div class="fs-3 mb-3">Purchase</div>
                        <p>
                            Prices are not listed, but offers are welcome for all available works.<br><br>

                            All artworks can be shipped worldwide at the buyer’s expense, which includes professional
                            packing, insurance, and export documentation.<br><br>

                            Any import duties, taxes, or local clearance requirements are the responsibility of the
                            purchaser.<br><br>

                            As shipments are dispatched from within the European Union, deliveries to destinations
                            within the EU generally avoid additional import/export procedures or costs.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}